In [11]:
import pandas as pd
import numpy as np

In [19]:
def load_data(path):
    """
    Load data from a csv file
    """
    df = pd.read_csv(path)
    return df

In [20]:
df = load_data('../data/Week1_challenge_data_source.xlsx')

In [22]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [23]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

### Remove whitespace from column names

In [6]:
df.columns = [column.replace(' ', '_').lower() for column in df.columns]

In [7]:
df.columns

Index(['bearer_id', 'start', 'start_ms', 'end', 'end_ms', 'dur._(ms)', 'imsi',
       'msisdn/number', 'imei', 'last_location_name', 'avg_rtt_dl_(ms)',
       'avg_rtt_ul_(ms)', 'avg_bearer_tp_dl_(kbps)', 'avg_bearer_tp_ul_(kbps)',
       'tcp_dl_retrans._vol_(bytes)', 'tcp_ul_retrans._vol_(bytes)',
       'dl_tp_<_50_kbps_(%)', '50_kbps_<_dl_tp_<_250_kbps_(%)',
       '250_kbps_<_dl_tp_<_1_mbps_(%)', 'dl_tp_>_1_mbps_(%)',
       'ul_tp_<_10_kbps_(%)', '10_kbps_<_ul_tp_<_50_kbps_(%)',
       '50_kbps_<_ul_tp_<_300_kbps_(%)', 'ul_tp_>_300_kbps_(%)',
       'http_dl_(bytes)', 'http_ul_(bytes)', 'activity_duration_dl_(ms)',
       'activity_duration_ul_(ms)', 'dur._(ms).1', 'handset_manufacturer',
       'handset_type', 'nb_of_sec_with_125000b_<_vol_dl',
       'nb_of_sec_with_1250b_<_vol_ul_<_6250b',
       'nb_of_sec_with_31250b_<_vol_dl_<_125000b',
       'nb_of_sec_with_37500b_<_vol_ul',
       'nb_of_sec_with_6250b_<_vol_dl_<_31250b',
       'nb_of_sec_with_6250b_<_vol_ul_<_37500b',
       'nb_of_sec_with_vol_dl_<_6250b', 'nb_of_sec_with_vol_ul_<_1250b',
       'social_media_dl_(bytes)', 'social_media_ul_(bytes)',
       'google_dl_(bytes)', 'google_ul_(bytes)', 'email_dl_(bytes)',
       'email_ul_(bytes)', 'youtube_dl_(bytes)', 'youtube_ul_(bytes)',
       'netflix_dl_(bytes)', 'netflix_ul_(bytes)', 'gaming_dl_(bytes)',
       'gaming_ul_(bytes)', 'other_dl_(bytes)', 'other_ul_(bytes)',
       'total_ul_(bytes)', 'total_dl_(bytes)'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 149010 non-null  float64
 1   start                                     150000 non-null  object
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  object
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      149431 non-null  float64
 7   msisdn/number                             148935 non-null  float64
 8   imei                                      149429 non-null  float64
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

### Convert datatime columns to datatime

In [17]:
df[['start','end']] = df[['start','end']].apply(pd.to_datetime)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 149010 non-null  float64
 1   start                                     150000 non-null  datetime64[ns]
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  datetime64[ns]
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      149431 non-null  float64
 7   msisdn/number                             148935 non-null  float64
 8   imei                                      149429 non-null  float64
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(50), object(3)
memory usage: 62.9+ MB

### Check dataframe for any missing values

In [10]:
df.isnull().sum()

bearer_id                                      991
start                                            1
start_ms                                         1
end                                              1
end_ms                                           1
dur._(ms)                                        1
imsi                                           570
msisdn/number                                 1066
imei                                           572
last_location_name                            1153
avg_rtt_dl_(ms)                              27829
avg_rtt_ul_(ms)                              27812
avg_bearer_tp_dl_(kbps)                          1
avg_bearer_tp_ul_(kbps)                          1
tcp_dl_retrans._vol_(bytes)                  88146
tcp_ul_retrans._vol_(bytes)                  96649
dl_tp_<_50_kbps_(%)                            754
50_kbps_<_dl_tp_<_250_kbps_(%)                 754
250_kbps_<_dl_tp_<_1_mbps_(%)                  754
dl_tp_>_1_mbps_(%)                             754
ul_tp_<_10_kbps_(%)                            792
10_kbps_<_ul_tp_<_50_kbps_(%)                  792
50_kbps_<_ul_tp_<_300_kbps_(%)                 792
ul_tp_>_300_kbps_(%)                           792
http_dl_(bytes)                              81474
http_ul_(bytes)                              81810
activity_duration_dl_(ms)                        1
activity_duration_ul_(ms)                        1
dur._(ms).1                                      1
handset_manufacturer                           572
handset_type                                   572
nb_of_sec_with_125000b_<_vol_dl              97538
nb_of_sec_with_1250b_<_vol_ul_<_6250b        92894
nb_of_sec_with_31250b_<_vol_dl_<_125000b     93586
nb_of_sec_with_37500b_<_vol_ul              130254
nb_of_sec_with_6250b_<_vol_dl_<_31250b       88317
nb_of_sec_with_6250b_<_vol_ul_<_37500b      111843
nb_of_sec_with_vol_dl_<_6250b                  755
nb_of_sec_with_vol_ul_<_1250b                  793
social_media_dl_(bytes)                          0
social_media_ul_(bytes)                          0
google_dl_(bytes)                                0
google_ul_(bytes)                                0
email_dl_(bytes)                                 0
email_ul_(bytes)                                 0
youtube_dl_(bytes)                               0
youtube_ul_(bytes)                               0
netflix_dl_(bytes)                               0
netflix_ul_(bytes)                               0
gaming_dl_(bytes)                                0
gaming_ul_(bytes)                                0
other_dl_(bytes)                                 0
other_ul_(bytes)                                 0
total_ul_(bytes)                                 1
total_dl_(bytes)                                 1
dtype: int64

In [14]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print(round(((totalMissing/totalCells) * 100), 2), "%", " of the Telco dataset are missing values.")

percent_missing(df)

12.5 %  of the Telco dataset are missing values.