In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
def load_data(path):
    """
    Load data from a csv file
    """
    try:
        df = pd.read_csv(path)
    except FileNotFoundError:
        print("File not found.")

    return df

In [104]:
df = load_data('../data/Week1_challenge_data_source(CSV).csv')

In [105]:
df.shape

(150001, 55)

In [106]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [107]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

### Remove whitespace from column names

In [108]:
df.columns = [column.replace(' ', '_').lower() for column in df.columns]

In [109]:
df.columns

Index(['bearer_id', 'start', 'start_ms', 'end', 'end_ms', 'dur._(ms)', 'imsi',
       'msisdn/number', 'imei', 'last_location_name', 'avg_rtt_dl_(ms)',
       'avg_rtt_ul_(ms)', 'avg_bearer_tp_dl_(kbps)', 'avg_bearer_tp_ul_(kbps)',
       'tcp_dl_retrans._vol_(bytes)', 'tcp_ul_retrans._vol_(bytes)',
       'dl_tp_<_50_kbps_(%)', '50_kbps_<_dl_tp_<_250_kbps_(%)',
       '250_kbps_<_dl_tp_<_1_mbps_(%)', 'dl_tp_>_1_mbps_(%)',
       'ul_tp_<_10_kbps_(%)', '10_kbps_<_ul_tp_<_50_kbps_(%)',
       '50_kbps_<_ul_tp_<_300_kbps_(%)', 'ul_tp_>_300_kbps_(%)',
       'http_dl_(bytes)', 'http_ul_(bytes)', 'activity_duration_dl_(ms)',
       'activity_duration_ul_(ms)', 'dur._(ms).1', 'handset_manufacturer',
       'handset_type', 'nb_of_sec_with_125000b_<_vol_dl',
       'nb_of_sec_with_1250b_<_vol_ul_<_6250b',
       'nb_of_sec_with_31250b_<_vol_dl_<_125000b',
       'nb_of_sec_with_37500b_<_vol_ul',
       'nb_of_sec_with_6250b_<_vol_dl_<_31250b',
       'nb_of_sec_with_6250b_<_vol_ul_<_37500b',
       'nb_of_sec_with_vol_dl_<_6250b', 'nb_of_sec_with_vol_ul_<_1250b',
       'social_media_dl_(bytes)', 'social_media_ul_(bytes)',
       'google_dl_(bytes)', 'google_ul_(bytes)', 'email_dl_(bytes)',
       'email_ul_(bytes)', 'youtube_dl_(bytes)', 'youtube_ul_(bytes)',
       'netflix_dl_(bytes)', 'netflix_ul_(bytes)', 'gaming_dl_(bytes)',
       'gaming_ul_(bytes)', 'other_dl_(bytes)', 'other_ul_(bytes)',
       'total_ul_(bytes)', 'total_dl_(bytes)'],
      dtype='object')

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 149010 non-null  float64
 1   start                                     150000 non-null  object
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  object
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      149431 non-null  float64
 7   msisdn/number                             148935 non-null  float64
 8   imei                                      149429 non-null  float64
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

### Convert datatime columns to datatime

In [111]:
df[['start','end']] = df[['start','end']].apply(pd.to_datetime)

### Convert MSIDSN/Number, IMEI, IMSI and Bearer_ID columns to string

In [112]:
df[['bearer_id', 'imsi', 'msisdn/number', 'imei']] = df[['bearer_id', 'imsi', 'msisdn/number', 'imei']].astype(str)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 150001 non-null  object
 1   start                                     150000 non-null  datetime64[ns]
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  datetime64[ns]
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      150001 non-null  object
 7   msisdn/number                             150001 non-null  object
 8   imei                                      150001 non-null  object
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(46), object(7)
memory usage: 62.9+ MB

### Check dataframe for any missing values

In [114]:
df.isnull().sum()

bearer_id                                        0
start                                            1
start_ms                                         1
end                                              1
end_ms                                           1
dur._(ms)                                        1
imsi                                             0
msisdn/number                                    0
imei                                             0
last_location_name                            1153
avg_rtt_dl_(ms)                              27829
avg_rtt_ul_(ms)                              27812
avg_bearer_tp_dl_(kbps)                          1
avg_bearer_tp_ul_(kbps)                          1
tcp_dl_retrans._vol_(bytes)                  88146
tcp_ul_retrans._vol_(bytes)                  96649
dl_tp_<_50_kbps_(%)                            754
50_kbps_<_dl_tp_<_250_kbps_(%)                 754
250_kbps_<_dl_tp_<_1_mbps_(%)                  754
dl_tp_>_1_mbps_(%)                             754
ul_tp_<_10_kbps_(%)                            792
10_kbps_<_ul_tp_<_50_kbps_(%)                  792
50_kbps_<_ul_tp_<_300_kbps_(%)                 792
ul_tp_>_300_kbps_(%)                           792
http_dl_(bytes)                              81474
http_ul_(bytes)                              81810
activity_duration_dl_(ms)                        1
activity_duration_ul_(ms)                        1
dur._(ms).1                                      1
handset_manufacturer                           572
handset_type                                   572
nb_of_sec_with_125000b_<_vol_dl              97538
nb_of_sec_with_1250b_<_vol_ul_<_6250b        92894
nb_of_sec_with_31250b_<_vol_dl_<_125000b     93586
nb_of_sec_with_37500b_<_vol_ul              130254
nb_of_sec_with_6250b_<_vol_dl_<_31250b       88317
nb_of_sec_with_6250b_<_vol_ul_<_37500b      111843
nb_of_sec_with_vol_dl_<_6250b                  755
nb_of_sec_with_vol_ul_<_1250b                  793
social_media_dl_(bytes)                          0
social_media_ul_(bytes)                          0
google_dl_(bytes)                                0
google_ul_(bytes)                                0
email_dl_(bytes)                                 0
email_ul_(bytes)                                 0
youtube_dl_(bytes)                               0
youtube_ul_(bytes)                               0
netflix_dl_(bytes)                               0
netflix_ul_(bytes)                               0
gaming_dl_(bytes)                                0
gaming_ul_(bytes)                                0
other_dl_(bytes)                                 0
other_ul_(bytes)                                 0
total_ul_(bytes)                                 1
total_dl_(bytes)                                 1
dtype: int64

In [115]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print(round(((totalMissing/totalCells) * 100), 2), "%", " of the Telco dataset are missing values.")

percent_missing(df)

12.46 %  of the Telco dataset are missing values.

### Choosing the appropriate method to fill the missing values
Following the rule of thumb, Categorical/object columns are filled with the mode method and numerical columns are filled with either the mean or the median of the column. To determine which approach to follow for numerical columns we have to check if the data/column is skewed or not.

In [116]:
# Separate numeric and categorical columns
numeric_columns = df.select_dtypes(include=['number']).columns
numeric_columns
categorical_columns = df.select_dtypes(include=['object','datetime64[ns]']).columns
categorical_columns

Index(['bearer_id', 'start', 'end', 'imsi', 'msisdn/number', 'imei',
       'last_location_name', 'handset_manufacturer', 'handset_type'],
      dtype='object')

### Checking skewness of the numeric columns

In [117]:
df[numeric_columns].skew(axis=0, skipna=True)

start_ms                                     0.000968
end_ms                                      -0.001163
dur._(ms)                                    3.952609
avg_rtt_dl_(ms)                             62.907828
avg_rtt_ul_(ms)                             28.457415
avg_bearer_tp_dl_(kbps)                      2.589437
avg_bearer_tp_ul_(kbps)                      4.503413
tcp_dl_retrans._vol_(bytes)                 15.951809
tcp_ul_retrans._vol_(bytes)                 84.113393
dl_tp_<_50_kbps_(%)                         -2.297803
50_kbps_<_dl_tp_<_250_kbps_(%)               3.271453
250_kbps_<_dl_tp_<_1_mbps_(%)                4.566158
dl_tp_>_1_mbps_(%)                           5.370351
ul_tp_<_10_kbps_(%)                         -8.985016
10_kbps_<_ul_tp_<_50_kbps_(%)               10.943888
50_kbps_<_ul_tp_<_300_kbps_(%)              21.878495
ul_tp_>_300_kbps_(%)                        36.174053
http_dl_(bytes)                             38.944710
http_ul_(bytes)                             32.474970
activity_duration_dl_(ms)                    5.872256
activity_duration_ul_(ms)                    7.382557
dur._(ms).1                                  3.952609
nb_of_sec_with_125000b_<_vol_dl              6.592502
nb_of_sec_with_1250b_<_vol_ul_<_6250b       22.035745
nb_of_sec_with_31250b_<_vol_dl_<_125000b     6.610541
nb_of_sec_with_37500b_<_vol_ul              21.560028
nb_of_sec_with_6250b_<_vol_dl_<_31250b       6.896050
nb_of_sec_with_6250b_<_vol_ul_<_37500b      19.642752
nb_of_sec_with_vol_dl_<_6250b                9.042166
nb_of_sec_with_vol_ul_<_1250b                7.495176
social_media_dl_(bytes)                     -0.002136
social_media_ul_(bytes)                     -0.000359
google_dl_(bytes)                           -0.008092
google_ul_(bytes)                            0.002216
email_dl_(bytes)                            -0.002463
email_ul_(bytes)                             0.007358
youtube_dl_(bytes)                           0.000231
youtube_ul_(bytes)                          -0.001142
netflix_dl_(bytes)                          -0.002442
netflix_ul_(bytes)                          -0.000113
gaming_dl_(bytes)                           -0.003460
gaming_ul_(bytes)                           -0.001840
other_dl_(bytes)                             0.001400
other_ul_(bytes)                             0.001392
total_ul_(bytes)                            -0.002456
total_dl_(bytes)                            -0.003153
dtype: float64

From the results above we can see that there is skewness in the numeric columns and the method of imputation chosen is to use median.

In [119]:
from sklearn.impute import SimpleImputer

In [121]:
imputer = SimpleImputer(strategy='median')

In [127]:
filled_numeric_columns_df = pd.DataFrame(imputer.fit_transform(df[numeric_columns]))

In [128]:
filled_numeric_columns_df.columns = numeric_columns
filled_numeric_columns_df.head()

,start_ms,end_ms,dur._(ms),avg_rtt_dl_(ms),avg_rtt_ul_(ms),avg_bearer_tp_dl_(kbps),avg_bearer_tp_ul_(kbps),tcp_dl_retrans._vol_(bytes),tcp_ul_retrans._vol_(bytes),dl_tp_<_50_kbps_(%),...,youtube_dl_(bytes),youtube_ul_(bytes),netflix_dl_(bytes),netflix_ul_(bytes),gaming_dl_(bytes),gaming_ul_(bytes),other_dl_(bytes),other_ul_(bytes),total_ul_(bytes),total_dl_(bytes)
0,770.0,662.0,1823652.0,42.0,5.0,23.0,44.0,568730.0,20949.5,100.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,235.0,606.0,1365104.0,65.0,5.0,16.0,26.0,568730.0,20949.5,100.0,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.0,652.0,1361762.0,45.0,5.0,6.0,9.0,568730.0,20949.5,100.0,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,486.0,171.0,1321509.0,45.0,5.0,44.0,44.0,568730.0,20949.5,100.0,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,565.0,954.0,1089009.0,45.0,5.0,6.0,9.0,568730.0,20949.5,100.0,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [132]:
percent_missing(filled_numeric_columns_df)

0.0 %  of the Telco dataset are missing values.

### Plotting Functions

In [32]:
def plot_hist(df:pd.DataFrame, column:str, color:str)->None:
    # plt.figure(figsize=(15, 10))
    # fig, ax = plt.subplots(1, figsize=(12, 7))
    sns.displot(data=df, x=column, color=color, kde=True, height=7, aspect=2)
    plt.title(f'Distribution of {column}', size=20, fontweight='bold')
    plt.show()

def plot_count(df:pd.DataFrame, column:str) -> None:
    plt.figure(figsize=(12, 7))
    sns.countplot(data=df, x=column)
    plt.title(f'Distribution of {column}', size=20, fontweight='bold')
    plt.show()
    
def plot_bar(df:pd.DataFrame, x_col:str, y_col:str, title:str, xlabel:str, ylabel:str)->None:
    plt.figure(figsize=(12, 7))
    sns.barplot(data = df, x=x_col, y=y_col)
    plt.title(title, size=20)
    plt.xticks(rotation=75, fontsize=14)
    plt.yticks( fontsize=14)
    plt.xlabel(xlabel, fontsize=16)
    plt.ylabel(ylabel, fontsize=16)
    plt.show()

def plot_heatmap(df:pd.DataFrame, title:str, cbar=False)->None:
    plt.figure(figsize=(12, 7))
    sns.heatmap(df, annot=True, cmap='viridis', vmin=0, vmax=1, fmt='.2f', linewidths=.7, cbar=cbar )
    plt.title(title, size=18, fontweight='bold')
    plt.show()

def plot_box(df:pd.DataFrame, x_col:str, title:str) -> None:
    plt.figure(figsize=(12, 7))
    sns.boxplot(data = df, x=x_col)
    plt.title(title, size=20)
    plt.xticks(rotation=75, fontsize=14)
    plt.show()

def plot_box_multi(df:pd.DataFrame, x_col:str, y_col:str, title:str) -> None:
    plt.figure(figsize=(12, 7))
    sns.boxplot(data = df, x=x_col, y=y_col)
    plt.title(title, size=20)
    plt.xticks(rotation=75, fontsize=14)
    plt.yticks( fontsize=14)
    plt.show()

def plot_scatter(df: pd.DataFrame, x_col: str, y_col: str, title: str, hue: str, style: str) -> None:
    plt.figure(figsize=(12, 7))
    sns.scatterplot(data = df, x=x_col, y=y_col, hue=hue, style=style)
    plt.title(title, size=20)
    plt.xticks(fontsize=14)
    plt.yticks( fontsize=14)
    plt.show()